<h3 style="text-align: center;">Info about flowers</h3>
    <form action="/news" method="GET">
      <input type="text" name="car" placeholder="Enter type of flowers" />
      <button type="submit" class="btn">Get News</button>
    </form>

    <div class="container-news">
        <% if (newsData && newsData.articles.length > 0) { %>
            <h2 style="margin-top: 25px;">Maybe interesting</h2>
            <div class="row">
                <% for (let i = 0; i < Math.min(6, newsData.articles.length); i++) { %>
                    <div class="col-md-4 mb-4">
                        <div class="card mb-4 box-shadow h-100">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title"><%= newsData.articles[i].title %></h5>
                                <p class="card-text"><%= newsData.articles[i].description %></p>
                                <a href="<%= newsData.articles[i].url %>" class="btn btn-primary" target="_blank">Read more</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else if (newsData && newsData.articles.length === 0) { %>
            <h3>No news articles found for the selected location.</h3>
        <% } %>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function translateText() {
  var sourceText = document.getElementById('sourceText').value;
  var targetLanguage = document.getElementById('targetLanguage').value;

  $.ajax({
    url: '/news', // Replace '/translate' with the endpoint on your server
    method: 'POST',
    data: { sourceText: sourceText, targetLanguage: targetLanguage },
    success: function(response) {
      document.getElementById('translatedText').innerText = response.translatedText;
    },
    error: function(error) {
      console.error('Error translating text:', error);
    }
  });
}
</script>

</head>
<body>
<h1>Translation Example</h1>
<label for="sourceText">Enter text to translate:</label><br>
<textarea id="sourceText" rows="4" cols="50"></textarea><br>
<label for="targetLanguage">Select target language:</label>
<select id="targetLanguage">
  <option value="kz">Kazakh</option>
  <option value="es">Spanish</option>
  <option value="fr">French</option>
  <option value="de">German</option>
  <option value="it">Italian</option>
  <option value="pt">Portuguese</option>
  <option value="ru">Russian</option>
  <option value="zh-CN">Chinese (Simplified)</option>
  <!-- Add more language options as needed -->
</select><br>
<button onclick="translateText()">Translate</button><br>
<p>Translated text:</p>
<div id="translatedText"></div>

<!-- Load Google Cloud Translation API -->
<script async defer src="https://apis.google.com/js/api.js"
  onload="this.onload=function(){};onLoadGoogleApi()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>