<h3>Register</h3>
<form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <label for="firstName"><b>First Name</b></label>
  <input type="text" placeholder="Enter First Name" name="firstName">

  <label for="lastName"><b>Last Name</b></label>
  <input type="text" placeholder="Enter Last Name" name="lastName">

  <label for="age"><b>Age</b></label><br>
  <input type="number" placeholder="Enter Age" name="age" min="0" >

  <label for="country"><b>Country</b></label>
  <input type="text" placeholder="Enter Country" name="country">

  <label for="gender"><b>Gender</b></label>
  <select name="gender">
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  </select>

  <input type="submit" value="Register" class="btn">

  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
  <% } %>
  

</form>

<p>Already have an account? <a href="/">Please enter</a>.</p>